<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <br>
    <div class="container">

        <form ng-controller="FormController" ng-submit="create()">
            {{username}} : 
            <input type="text" ng-model="message" autofocus>
            <button class="btn btn-primary">Send</button>
        </form>

        <br>

        <ul class="list-unstyled" ng-controller="ListController">
            <li ng-repeat="message in messages | reverse">
                <span>{{message.username}} : </span>
                <span>{{message.message}}</span>
                <div class="text-muted">{{message.timestamp | amTimeAgo}}</div>
            </li>
        </ul>

    </div>

    <script src="/assets/sockjs/sockjs.min.js"></script>
    <script src="/assets/angular/angular.min.js"></script>
    <script src="/assets/ng-sockjs/dist/ng-sockjs.min.js"></script>
    <script src="/assets/moment/min/moment.min.js"></script>
    <script src="/assets/angular-moment/angular-moment.min.js"></script>
    <script src="/assets/chance/chance.js"></script>
    <script>

        var app = angular.module('app', ['angularMoment', 'ng.sockjs']);

        // configure SockJS to connect to /messages url
        app.value('ngSockUrl', '/messages');

        // to display the latest messages first, we'll have to reverse it
        app.filter('reverse', function() {
            return function(items) {
                return items.slice().reverse();
            };
        });

        // ListController to control our list
        app.controller('ListController', function($scope, socket) {
            $scope.messages = [];
            socket.onOpen(function(){

                // set messages to empty array
                $scope.messages = [];
            });
            socket.onMessage(function(data){

                // on new message, push to messages array
                $scope.messages.push(data);
            });
        });


        // FormController to control our form
        app.controller('FormController', function($scope, $window, socket) {
            $scope.message = '';

            // get username from localStorage or else generate one for me
            $scope.username = $window.localStorage.getItem('username') || chance.first();

            // save the username into localStorage
            $window.localStorage.setItem('username', $scope.username);

            // create new message
            $scope.create = function() {
                var message = $scope.message.trim();

                // if message is truthy
                if(message) {

                    // send the data through the socket
                    socket.send({
                        message: message,
                        username: $scope.username
                    });

                    // set message to blank
                    $scope.message = '';
                }
            }
        });
    </script>
</body>
</html>